.header {
  padding: 10px;
  display: flex;
}

 .header-logo {
  width: 150px;
  display: flex;
  align-items: center;

  img {
    border-radius: 15px;
    width: 150px;
  }
 }

 .header-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-end;

  a {
    width: 96px;
    text-align: center;
    color: #fe6232;
    border-radius: 20px;
    border: #fe6232 solid 2px;
    padding-inline: 5px;
    padding-top: 2px;
  }
 }

 .avatar-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
 }
